.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    flex:1;
    position: relative;
  }

.header {
    font-size: 3em;
}

.main{
    overflow-y: auto;
    height:'100vh';
    flex:2;
    
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }